appdirs==1.4.4
attrs==20.3.0
autopep8==1.5.4
colorama==0.4.4
distlib==0.3.1
filelock==3.0.12
iniconfig==1.1.1
numpy==1.19.5
packaging==20.9
pandas==1.2.1
pluggy==0.13.1
py==1.10.0
pycodestyle==2.6.0
pyparsing==2.4.7
pytest==6.2.3
python-dateutil==2.8.1
pytz==2020.5
selenium==3.141.0
six==1.15.0
termcolor==1.1.0
toml==0.10.1
urllib3==1.26.2
virtualenv==20.4.2
