<!-- page for uploading images - pixelarium -->
{% extends 'base.html' %}
{% block title %}Pixelarium - Upload{% endblock %}

{% block body %}
<h1>Upload to Pixelarium</h1>

<div>
    <!-- cloudinary upload widget -->
    <button id="upload_widget" class="cloudinary-button">Upload</button>

    <script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript"></script>  

    <script type="text/javascript">  
    var myWidget = cloudinary.createUploadWidget({
    cloudName: 'pixelarium', 
    showAdvancedOptions: true,
    uploadPreset: 'ml_default'}, (error, result) => { 
        if (!error && result && result.event === "success") { 
        console.log('Done! Here is the image info: ', result.info); 
        $.post('/upload', {
            'upload_result': result.info
        });
        }
    }
    )

    document.getElementById("upload_widget").addEventListener("click", function(){
        myWidget.open();
    }, false);
    </script>
</div>
{% endblock %}