<!-- homepage for pixelarium. displays welcome message and options -->

{% extends 'base.html' %}
{% block title %}Pixelarium - Home{% endblock %}

{% block body %}
<h1>Welcome to Pixelarium</h1>

<div>
    <ul>
        <li><a href="/upload">Upload</a></li>
        <li><a href="/images_test">Images Test</a></li>
    </ul>
</div>
<div>
    <form name="search-bar" method="POST" action="/results">
        <label>Search terms:</label>
        <input type="text" placeholder="Search images by tag or title" name="search">
        <button type="submit">Search now</button>
    </form>
</div>
{% endblock %}
