<!-- homepage for pixelarium. displays welcome message and options -->

{% extends 'base.html' %}
{% block title %}Pixelarium - Home{% endblock %}

{% block body %}
<h1>Welcome to Pixelarium</h1>

<div class="nav"></div>
<div>
    <form name="search-bar" method="POST" action="/results">
        <label>Search terms:</label>
        <input type="text" placeholder="Search images by tag or title" name="search">
        <button type="submit">Search now</button>
    </form>
</div>
<div>
    <h2>Search tips:</h2>
    <ul>
        <li>Use keywords "tag" or "title" followed by ":" to search only those 
            fields. <em>For example:</em> <strong>tag: vacation</strong> or <strong>
            title: tree</strong>
        </li>
        <li>Use quotation marks ("") around your search to find <em>exact</em>
            matches only. <em>For example:</em> <strong>"flower"</strong> or 
            <strong>"italy"</strong>
        </li>
    </ul>
</div>
{% endblock %}
